api/worker_response.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="WorkerResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="RequestId" type="xs:string" />
                <xs:element name="Words" type="xs:string" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>